body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    background-color: #A79299;

}

.header {
    text-align: center;
    font-size: 1.5em;
    background-image: url("http://img04.deviantart.net/554e/i/2009/225/8/3/swirled_cork_by_mad_texture.jpg");
}

.delete-button {
    margin-top: 800px;
}

.top {
    margin-bottom: 50px;
    background-image: url("http://img04.deviantart.net/554e/i/2009/225/8/3/swirled_cork_by_mad_texture.jpg");

}
