<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Address Book</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    </head>
    <body>
        <div class="top">
        </div>
        <div class="header">
            <h1>ADDRESS BOOK</h1>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
